.row
  - if commit
    - have_rev = commit['rev'] != '1'
    %div{ class: "col-#{have_rev ? '6': '8'}" }
      - if commit['user'] == '_service'
        %i.fas.fa-cog.fa-lg
        automatic update by service
      - else
        - user = User.find_by_login(commit['user'])
        - if user
          = user_image_tag(user)
          = link_to(user_show_path(user)) do
            = user.realname.present? ? "#{user.realname} (#{user})" : user
        - else
          %i= commit['user'] || '-'
        - if commit['requestid']
          accepted
          = link_to("request #{commit['requestid']}", request_show_path(commit['requestid']))
        - else
          committed
      %u= fuzzy_time(Time.at(commit['time'].to_i))
      (revision #{commit['rev']})
      - unless commit['user'] == '_service' || commit['comment'].blank?
        %pre.plain= commit['comment']
    %div{ class: "col-#{have_rev ? '6': '4'}" }
      %ul.nav
        - if have_rev
          %li.nav-item
            = link_to(package_rdiff_path(@project, @package, rev: commit['rev'], linkrev: 'base'), class: 'nav-link') do
              %i.fas.fa-clone
              Files Changed
        %li.nav-item
          = link_to(package_show_path(@project, @package, rev: commit['rev']), class: 'nav-link') do
            %i.fas.fa-folder-open
            Browse Source
  - else
    %i
      Revision #{revision} not found
